<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Interview History</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <fieldset>
                    <legend>Add Interview Details</legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name">Job Title</label>
                          <select class="form-control">
                            <option>QA</option>
                            <option>Software Developer</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name">Job Reference Number</label>
                          <input type="text" class="form-control" name="name" id="name" readonly>
                        </div>
                      </div>
                    </div>
                   <!-- Editable table -->
<div class="card">
   
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <!-- <span icon="plus" size="2x"></span> -->
            <span  class="material-icons pointer">add</span>
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Applicant Name</th>
            <th class="text-center">Internal/External</th>
            <th class="text-center">Selected/Rejected</th>
            <th class="text-center">Reason</th>
            <!-- <th class="text-center">City</th>
            <th class="text-center">Sort</th> -->
            <th class="text-center">Remove</th>
          </tr>
          <tr *ngFor="let person of personList; let id = index">
            <td ><input type="text" class="form-control" id="name1" name="name1" placeholder="Enter Applicant Name"></td>
            <td ><select class="form-control">
                <option>Internal</option>
                <option>External</option>
              </select></td>
            <td  ><select class="form-control">
                <option>Selected</option>
                <option>Rejected</option>
              </select></td>
            <td ><textarea class="form-control" name="Reason" placeholder="Enter Reject Reason"></textarea></td>
            <!-- <td contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</td> -->
            <!-- <td>
              <span class="table-up">
                <a class="indigo-text">
                  <span icon="long-arrow-up"></span>
                </a>
              </span>
              <span class="table-down">
                <a class="indigo-text">
                  <span icon="long-arrow-down"></span>
                </a>
              </span>
            </td> -->
            <td>
              <span class="table-remove">
                <a class="my-0" (click)="remove(id)"><span class="material-icons btn-danger pointer">remove</span></a>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
              </fieldset>
                  &nbsp;
                
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                    data-target="#addapplicantmodal">ADD</button>

                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Reset</button>
                </div>
              </form>
              <!-- form end -->

            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>


