<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Pending Request</h4>
  </div>
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Authorize</th>
          <th>Employee</th>
          <th>Manager</th>
          <th>Trainee</th>
          <th>HR</th>
          <th>Trainer</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        <tr>
          <td class="td-title" rowspan="4">Manage previlages</td>
          <td>Create</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td>Read</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td>Update</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td>Delete</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>

        

        <tr>
            <td class="td-title" rowspan="4">Manage Department</td>
            <td>Create</td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          </tr>
          <tr>
            <td>Read</td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          </tr>
          <tr>
            <td>Update</td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          </tr>
          <tr>
            <td>Delete</td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          </tr>



          <tr>
              <td class="td-title" rowspan="4">Manage LeaveType</td>
              <td>Create</td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            </tr>
            <tr>
              <td>Read</td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            </tr>
            <tr>
              <td>Update</td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            </tr>
            <tr>
              <td>Delete</td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
            </tr>



            <tr>
                <td class="td-title" rowspan="4">Manage Role</td>
                <td>Create</td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              </tr>
              <tr>
                <td>Read</td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              </tr>
              <tr>
                <td>Update</td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              </tr>
              <tr>
                <td>Delete</td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
              </tr>



              <tr>
                  <td class="td-title" rowspan="4">Manage Status</td>
                  <td>Create</td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                </tr>
                <tr>
                  <td>Read</td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                </tr>
                <tr>
                  <td>Update</td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                </tr>
                <tr>
                  <td>Delete</td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                </tr>


                <tr>
                    <td class="td-title" rowspan="4">Manage User</td>
                    <td>Create</td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  </tr>
                  <tr>
                    <td>Read</td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  </tr>
                  <tr>
                    <td>Update</td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  </tr>
                  <tr>
                    <td>Delete</td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                  </tr>


                  <tr>
                      <td class="td-title" rowspan="4">Process Leave Request</td>
                      <td>Create</td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    </tr>
                    <tr>
                      <td>Read</td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    </tr>
                    <tr>
                      <td>Update</td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    </tr>
                    <tr>
                      <td>Delete</td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                    </tr>


                    <tr>
                        <td class="td-title" rowspan="4">Process CarryForward</td>
                        <td>Create</td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      </tr>
                      <tr>
                        <td>Read</td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      </tr>
                      <tr>
                        <td>Update</td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      </tr>
                      <tr>
                        <td>Delete</td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                      </tr>

  

                      <tr>
                          <td class="td-title" rowspan="4">Apply Leave</td>
                          <td>Create</td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        </tr>
                        <tr>
                          <td>Read</td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        </tr>
                        <tr>
                          <td>Update</td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        </tr>
                        <tr>
                          <td >Delete</td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
                        </tr>
      </tbody>
    </table>

    <!-- <div class="container-fluid">
      <div class="col-md-12">
        <div class="float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div> -->

  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header model-header-primary">
        <h5 class="modal-title" id="exampleModalCenterTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Permission granded successfully</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>