<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"> General Information</h5>
        <!-- <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div> -->
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="col">
          <div class="float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addmodal2">
              Add
            </button>
          </div>
        </div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- column 1 start -->
            <!-- <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
              <mat-cell *matCellDef="let generalInformation "> {{generalInformation.id}}</mat-cell>
            </ng-container> -->
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Trainer Name </mat-header-cell>
              <mat-cell *matCellDef="let generalInformation "> {{generalInformation.fullName}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->


            <!-- column 3 start -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
              <mat-cell *matCellDef="let generalInformation"> {{generalInformation.email}} </mat-cell>
            </ng-container>
            <!-- column  3 end -->

            <!-- column 4 start -->
            <!-- <ng-container matColumnDef="nationality">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nationality</mat-header-cell>
              <mat-cell *matCellDef="let generalInformation"> {{generalInformation.nationality}} </mat-cell>
            </ng-container> -->
            <!-- column 4 end -->


            <!-- column 5 start -->
            <!-- <ng-container matColumnDef="nic">
              <mat-header-cell *matHeaderCellDef mat-sort-header> NIC </mat-header-cell>
              <mat-cell *matCellDef="let generalInformation"> {{generalInformation.nic}} </mat-cell>
            </ng-container> -->
            <!-- column 5 end -->

            <!-- column 6 start -->
            <!-- <ng-container matColumnDef="religion">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Religion </mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.religion}} </mat-cell>
            </ng-container> -->
            <!-- column 6 end -->

            <!-- column 7 start -->
            <!-- <ng-container matColumnDef="gender">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.gender}} </mat-cell>
            </ng-container> -->
            <!-- column 7 end -->

            <!-- column 8 start -->
            <!-- <ng-container matColumnDef="dob">
              <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.dateOfBirth}} </mat-cell>
            </ng-container> -->
            <!-- column 8 end -->

            <!-- column 9 start -->
            <ng-container matColumnDef="paddress">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Permanant Address</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.permenentAddress}} </mat-cell>
            </ng-container>
            <!-- column 9 end -->

            <!-- column 10 start -->
            <!-- <ng-container matColumnDef="raddress">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Residental Address</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.residentialAddress}} </mat-cell>
            </ng-container> -->
            <!-- column 10 end -->

            <!-- column 11 start -->
            <ng-container matColumnDef="mnumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.mobileNumber}} </mat-cell>
            </ng-container>
            <!-- column 11 end -->

            <!-- column 12 start -->
            <ng-container matColumnDef="tnumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tel Number</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.telephoneNumber}} </mat-cell>
            </ng-container>
            <!-- column 12 end -->

            <!-- column 13 start -->
            <!-- <ng-container matColumnDef="mstatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Marital Status </mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.maritalStatus}} </mat-cell>
            </ng-container> -->
            <!-- column 13 end -->

            <!-- column 14 start -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Position</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.position}} </mat-cell>
            </ng-container>
            <!-- column 14 end -->

            <!-- column 15 start -->
            <ng-container matColumnDef="sarea">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Specialization Area</mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment"> {{recordOfEmployment.specializedArea}} </mat-cell>
            </ng-container>
            <!-- column 15 end -->

            <!-- column 16 start -->
            <ng-container matColumnDef="edit/delete">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let recordOfEmployment">
                <span ><a href="" ><i class="material-icons">edit</i></a></span>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updatemodal2">
                  Edit
                </button> &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal2">
                  Delete
                </button>
              </mat-cell>
            </ng-container>
            <!-- column 5 end -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->

    </div>
  </div>
</div>