
<section class="content">
  <!-- tab content start -->

  <!-- appoinment start -->
  <div class="row">
    <div class="col-md-7">
      <div class="card">

        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title">Course Record</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- card header end -->

        <!-- card body start -->

        <div class="card-body">
          <div class="row " style="padding-bottom: 40px">
            <div class="col-md-12">
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="gradeId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Grade Id </mat-header-cell>
                  <mat-cell *matCellDef="let gradeId">{{gradeId.gradeId}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="gradeValue">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grade Value</mat-header-cell>
                  <mat-cell *matCellDef="let gradeId">{{gradeId.gradeValue}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="editGrade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let gradeId"><a href="#" data-toggle="modal" data-target="#edit-grade-modal"><span class=" material-icons"
                      style="color:blue">edit</span></a></mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="deleteGrade">
                      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                      <mat-cell *matCellDef="let gradeId"><a href="#"data-toggle="modal" data-target="#delete-view-modal"><span class=" material-icons"
                        style="color:red">delete_forever</span></a></mat-cell>
                    </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            </div>
          </div>
        </div>
        

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- card body end -->

</section>
<app-edit-grade></app-edit-grade>

<!--delete model start-->

<div id="delete-view-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">Conformation</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <!-- form start -->
            <form role="form">
              <!-- card body start -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="start-date"> Are you sure! want to Delete?</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card body end -->
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal">No</button>
        </div>
      </div>
      <!-- modal content end -->
    </div>
  </div>
  <!--delete model end-->