<!-- edit modal start -->
<div class="modal fade" id="updatemodal1">
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Technology Skill Level </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form>

            <!-- card body start -->
            <div class="row">

              <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label for="technology">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Technology & Skill Id"
                      disabled>
                  </div>
                </div> -->


              <div class="col-md-6">
                <div class="form-group">
                  <label for="technology"> Technology </label>
                  <input type="text" class="form-control" id="technology" name="technology" placeholder="Enter the Technology">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="skill"> Skill Type</label>
                  <input type="text" class="form-control" id="skill" name="skill" placeholder="Enter the Skill type">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="skill"> Skill Level</label>
                  <select class="form-control" id="level" name="level">
                    <option selected default hidden="default">select the Level</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- modal content end -->

      <!-- edit modal end -->

      <!-- delete model -->
    </div>
  </div>
</div>

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="deletemodal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Technology Skill</h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure want to delete? </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>
    </div>
  </div>
</div>