<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Loan">
    <mat-tab-group>
      <mat-tab label="View Loan">
        <app-view-loan></app-view-loan>
      </mat-tab>

      <mat-tab label="View Taken Loan History by Employee">
        <app-taken-view-by-emp></app-taken-view-by-emp>
      </mat-tab>

      <mat-tab label="View Taken Loan History by HR">
        <app-taken-view-by-hr></app-taken-view-by-hr>
      </mat-tab>

      <mat-tab label="View Eligible Loan Details by Employee">
        <app-eligible-loan></app-eligible-loan>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>


  <mat-tab label="Salary">

    <mat-tab-group>
      <mat-tab label="Salary Chart">
        <app-view-salary-chart></app-view-salary-chart>
      </mat-tab>
    </mat-tab-group>

  </mat-tab>

  <mat-tab label="Allowance Details">

      <mat-tab-group>
          <mat-tab label="View Allowance">
              <app-view-allowances></app-view-allowances>
          </mat-tab>
        </mat-tab-group>
       
  </mat-tab>

  </mat-tab-group>

 
  <router-outlet></router-outlet>