<!-- <app-add-payment-history></app-add-payment-history>
<app-view-payment-history></app-view-payment-history> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->

        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" routerLinkActive="active">
              <a class="active" routerLink="paymentHistory" aria-controls="home" role="tab" data-toggle="tab">Payment
                History for HR </a></li>
            <li role="presentation" routerLinkActive="active">
              <a class="active" routerLink="paymentHistoryTrainer" aria-controls="profile" role="tab" data-toggle="tab">Payment
                History for Trainer</a></li>
          </ul>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>