<div class="row">
  <div class="col-md-8">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Payment History</h5>
      </div>
      <!-- card-header end -->
      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <!-- form start -->
              <form #paymentForm="ngForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="userName">Name of the Trainer</label>
                        <select class="form-control" name="userName" id="userName" [(ngModel)]="paymentObj.user">
                          <option default hidden selected>--Name of the Trainer--</option>
                          <option *ngFor="let user of user" [value]="user.id">{{user.fullName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="date">Date of Training</label>
                        <input type="date" placeholder="yyyy-mm-dd" class="form-control" id="date" name="date"
                          [(ngModel)]="paymentObj.trainingDate">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="amount">Amount to be Paid</label>
                        <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="paymentObj.amountPaid">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="status">Payment Status</label>
                        <select class="form-control" name="status" id="status" [(ngModel)]="paymentObj.paymentStatus">
                          <option default hidden selected>--Payment Status--</option>
                          <option>Fully Paid</option>
                          <option>Partly Paid</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal"
                    (click)="createPayment()">Add</button>
                  &nbsp;
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>