<!-- request leave start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">ASSIGN ROLES & RESPONSIBILITES</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Employee Name</label>
                            <!-- <input name="funame" list="options" class=" form-control" [(ngModel)]="refObj.user">
                            <datalist id="options">
                              <option selected disabled>Select a Employee Name</option>
                              <option *ngFor="let users of user" data-value="{{users.id}}">{{users.fullName}}</option>
                            </datalist> -->
                            <select _ngcontent-c5="" class="form-control form-control-md" name="xyz" [(ngModel)]="rolesandResObj.user">
                                <option _ngcontent-c5="" selected="" *ngFor="let us of user" value="{{us.id}}" (click)="getUserId()" >
                                  {{us.fullName}}</option>
                              </select>
                          </div>
                        </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="end-date">Job Title</label>
                          <!-- <input type="text" class="form-control" name="start-date" id="end-date" name="jobId"
                            [(ngModel)]="rolesandResObj.jobId.jobName"> -->
                            <select _ngcontent-c5="" class="form-control form-control-md" name="job" [(ngModel)]="rolesandResObj.jobName">
                              <option _ngcontent-c5="" selected="" *ngFor="let jobs of job" value="{{jobs.id}}" (click)="getJobId()" >
                                {{jobs.jobName}}</option>
                            </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="leave-days">Responsibility for</label>
                          <input type="text" class="form-control" name="start-date" id="end-date" name="responsibility"
                            [(ngModel)]="rolesandResObj.responsibility">

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Location</label>
                          <!-- <input type="text" class="form-control" name="start-date" id="end-date" name="locatioId"
                            [(ngModel)]="rolesandResObj.locatioId.locationName"> -->
                            <select _ngcontent-c5="" class="form-control form-control-md" name="location" [(ngModel)]="rolesandResObj.locationName">
                              <option _ngcontent-c5="" selected="" *ngFor="let location of locations" value="{{location.id}}" (click)="getLocationId()" >
                                {{location.locationName}}</option>
                            </select>


                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Key Activities</label>
                          <!-- <input type="text" class="form-control" name="keyActivity" id="keyActivity" [(ngModel)]="rolesandResObj.keyActivityId.name"> -->
                          <select _ngcontent-c5="" class="form-control form-control-md" name="key" [(ngModel)]="rolesandResObj.name">
                            <option _ngcontent-c5="" selected="" *ngFor="let keyActivitys of keyActivity" value="{{keyActivitys.id}}" (click)="getKeyActivityId()" >
                              {{keyActivitys.name}}</option>
                          </select>
                        
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Overall purpose of the job:</label>
                          <textarea class="form-control" name="overAllPurpose" [(ngModel)]="rolesandResObj.overAllPurpose"></textarea>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <!-- card body end -->

                  <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" (click)="addRolesAndResponsibilities()">Add</button>
                  </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>