<section class="content">
  <!-- tab content start -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1_content" aria-labelledby="tab1_content">
      <!-- <app-request-leave></app-request-leave> -->

      <!-- appoinment start -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <!-- card header start -->
            <div class="card-header">
              <h5 class="card-title">SALARY CHART</h5>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- card header end -->

            <!-- card body start -->
            <div class="card-body">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="employeeNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Number </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.employeeNo}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="basicSalary">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Basic <br>Salary </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.basicSalary}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="epf8">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> EPF 8% </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.epf8}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="paye">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> PAYE </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.paye }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="stampDuty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Stamp<br> duty </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.stampDuty}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="advance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Advance </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.advance}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="loan">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.loan}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="netSalary">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Net Salary </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.netSalary}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="epf12">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> EPF 12% </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.epf12}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="etf3">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ETF 3% </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.etf3}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="satutoryPayment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Statutory Payment </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.satutoryPayment}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"><a href="#" data-toggle="modal" data-target="#edit-salary-modal">
                        <span class="material-icons" style="color:#007bff">edit</span></a></mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"><a href="#" data-toggle="modal" data-target="#delete-salary-modal">
                        <span class="material-icons" style="color:#ff4444">delete_forever</span></a></mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <!-- pagination start -->
                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
                <!-- pagination end -->
              </div>
            </div>
            <!-- card body end -->
          </div>
        </div>
      </div>



    </div>




    <!-- <div class="tab-pane fade" id="tab2_content" aria-labelledby="tab2_content">
          <app-leave-history></app-leave-history>
        </div>
        <div class="tab-pane fade" id="tab3_content" aria-labelledby="tab3_content">
          <app-request-leave></app-request-leave>
        </div> -->
  </div>
  <!-- tab content end -->

</section>


<app-edit-salary-chat></app-edit-salary-chat>

<!--delete model start-->

<div id="delete-salary-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Conformation</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <!-- form start -->
          <form role="form">
            <!-- card body start -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start-date"> Are you sure! want to Delete?</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- card body end -->
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal">No</button>
      </div>
    </div>
    <!-- modal content end -->
  </div>
</div>
<!--delete model end-->