<!-- <app-academic-qualification></app-academic-qualification>
<app-attachment-checklist></app-attachment-checklist>
<app-general-information></app-general-information>
<app-professional-qualification></app-professional-qualification>
<app-record-of-employment></app-record-of-employment>
<app-referees></app-referees>
<app-roles-and-responsibilities></app-roles-and-responsibilities> -->


  <div class="tabbable">
    <ul class="nav nav-tabs wizard">
        <li><a routerLinkActive="active" routerLink="empprofile" (click)="goGeneralInfo()" data-toggle="tab" aria-expanded="false">Employee's <br> Profile</a></li>
        <li><a routerLinkActive="active" routerLink="appointment" data-toggle="tab" aria-expanded="false">Appoinment <br>&nbsp; </a></li>
        <li><a routerLinkActive="active" routerLink="academicQual" data-toggle="tab" aria-expanded="false">Par <br>&nbsp;</a></li>
        <li><a routerLinkActive="active" routerLink="ProfQual" data-toggle="tab" aria-expanded="false">Promotion <br> &nbsp;</a></li>
        <li><a routerLinkActive="active" routerLink="recordEmp" data-toggle="tab" aria-expanded="true">Experience <br> Letter</a></li>
        <li><a routerLinkActive="active" routerLink="referees" data-toggle="tab" aria-expanded="true">Termination <br> &nbsp;</a></li>
        <li><a routerLinkActive="active" routerLink="rolesAndResponse" data-toggle="tab" aria-expanded="true">Directory <br> &nbsp;</a></li>
        <li><a routerLinkActive="active" routerLink="attachmentChecklist"data-toggle="tab" aria-expanded="true">Remuneration <br> &nbsp;</a></li>
        <li><a routerLinkActive="active" routerLink="attachmentChecklist"data-toggle="tab" aria-expanded="true">Career <br>Development</a></li>


    </ul>
</div>

<router-outlet></router-outlet>
