  <!-- 2nd Form Start -->
  <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Academic Qualification</h5>
  
        <div class="card-tools">
          <!-- <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button> -->
        </div>
      </div>
      <!-- card-header end -->
  
      <!-- card body start -->
      <div class="card-body nopadding">
        <!-- form start -->
        <form [formGroup]="addTrainerAcademicForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                  <div class="alert alert-success notification" id="alert-success" *ngIf="responseMsg === 'success'">
                      <span class="bold-font">Success:</span> All records were processed correctly! Ignore click Next
                    </div>
                    <div class="alert alert-danger notification" id="alert-danger" *ngIf="responseMsg === 'fail'">
                      <span class="bold-font">Error:</span> Something went wrong.
                    </div>
                <fieldset>
                  
                  <!-- card body start -->
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Trainer No</label>
                            <!-- <select  formControlName="empName" form class="form-control form-control-sm" [class.is-invalid]="addAcademicForm.get('empName').invalid && addAcademicForm.get('empName').touched " 
                             name="result" [(ngModel)]="trainerAcademicObj.user">
                             <option selected disabled value="0">Select Employee Name</option>
                                <option >grrgr</option>
                              </select> -->

                              <input formControlName="empName" form class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('empName').invalid && addTrainerAcademicForm.get('empName').touched " 
                              name="result" [(ngModel)]="trainerAcademicObj.user">
                              <div *ngIf="addTrainerAcademicForm.get('empName').invalid && addTrainerAcademicForm.get('empName').touched ">
                                <small class="text-danger" *ngIf="addTrainerAcademicForm.get('empName').errors?.required">Trainer No is Required
                                </small>
                              </div>
                          </div>
                        </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name-school">Name of School</label>
                          <input formControlName="school" type="text" class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('school').invalid && addTrainerAcademicForm.get('school').touched "
                          placeholder="Name of School" [(ngModel)]="trainerAcademicObj.schoolName">
                        <div *ngIf="addTrainerAcademicForm.get('school').invalid && addTrainerAcademicForm.get('school').touched ">
                          <small class="text-danger" *ngIf="addTrainerAcademicForm.get('school').errors?.required">School Name is Required
                          </small>
                          <small class="text-danger" *ngIf="addTrainerAcademicForm.get('school').errors?.minlength">Please Enter must be
                            atleast 3 characters </small>
                            <small class="text-danger" *ngIf="addTrainerAcademicForm.get('school').errors?.maxlength">Please Enter below 50 characters </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Period Year</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input formControlName="fromyear" type="text" class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('fromyear').invalid && addTrainerAcademicForm.get('fromyear').touched " 
                            placeholder="From Year"  [(ngModel)]="trainerAcademicObj.periodYearFrom" >
                            <div *ngIf="addTrainerAcademicForm.get('fromyear').invalid && addTrainerAcademicForm.get('fromyear').touched ">
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('fromyear').errors?.required">From year is Required
                              </small>
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('fromyear').errors?.pattern">Year only
                                4 digits </small>
                               <small class="text-danger" *ngIf="addTrainerAcademicForm.get('fromyear').errors?.maxlength"> Year only
                                4 digits </small>
                            </div>
                         </div>
                          <div class="col-md-6">
                            <input formControlName="toyear" type="text" class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('toyear').invalid && addTrainerAcademicForm.get('toyear').touched " 
                            placeholder="To Year"  [(ngModel)]="trainerAcademicObj.periodYearTo">
                            <div *ngIf="addTrainerAcademicForm.get('toyear').invalid && addTrainerAcademicForm.get('toyear').touched ">
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('toyear').errors?.required">To year is Required
                              </small>
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('toyear').errors?.pattern">Year only
                                4 digits </small>
                               <small class="text-danger" *ngIf="addTrainerAcademicForm.get('toyear').errors?.maxlength"> Year only
                                4 digits </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="form-group result">
                          <label for="position">Result:</label>
                         <select class="form-control"  formControlName="resultOpt" form class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('resultOpt').invalid && addTrainerAcademicForm.get('resultOpt').touched " 
                          placeholder="Result"  name="result"   [(ngModel)]="trainerAcademicObj.result">
            
                            <option selected disabled value="0">Select result </option>
                            <option value="Passed">Passed</option>
                            <option value="Failed">Failed</option>
                          </select>
                          <div *ngIf="addTrainerAcademicForm.get('resultOpt').invalid && addTrainerAcademicForm.get('resultOpt').touched ">
                            <small class="text-danger" *ngIf="addTrainerAcademicForm.get('resultOpt').errors?.required">Result is Required
                            </small>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="school-year-graduation">Year of Examination</label>
                        <input formControlName="examYear" type="text" class="form-control form-control-sm" [class.is-invalid]="addTrainerAcademicForm.get('examYear').invalid && addTrainerAcademicForm.get('examYear').touched " 
                        placeholder="Year of Examination"  [(ngModel)]="trainerAcademicObj.examinationYear"  >
                            <div *ngIf="addTrainerAcademicForm.get('examYear').invalid && addTrainerAcademicForm.get('examYear').touched ">
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('examYear').errors?.required">Exam year is Required
                              </small>
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('examYear').errors?.pattern">Year only
                                4 digits </small>
                               <small class="text-danger" *ngIf="addTrainerAcademicForm.get('examYear').errors?.maxlength"> Year only
                                4 digits </small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label for="university-grading">Subject offered & Grading</label>
                        <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                      </div>
                    </div> -->
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label for="position">Exam Type:</label>
                          <select class="form-control" name="examType"  [(ngModel)]="trainerAcademicObj.examType"
                          formControlName="examType" form class="form-control form-control-sm" 
                          [class.is-invalid]="addTrainerAcademicForm.get('examType').invalid && addTrainerAcademicForm.get('examType').touched " 
                           >
                           <option selected disabled value="0">Select Exam Type </option>
                           <option *ngFor="let examtype of examtypes" value="{{examtype.id}}">
                            {{examtype.examTypeName}}
                          </option>
                            <!-- <option selected disabled value="0">Select Exam Type </option> -->
                            
                          </select>
                          <div *ngIf="addTrainerAcademicForm.get('examType').invalid && addTrainerAcademicForm.get('examType').touched ">
                              <small class="text-danger" *ngIf="addTrainerAcademicForm.get('examType').errors?.required">Exam Type is Required
                              </small>
                            </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 btnpadding">
  
                      <button type="button" class="btn btn-primary pull-right"  [disabled]="!addTrainerAcademicForm.valid" (click)="createAcademicQualification()">Save</button>
                    </div>
                  </div>
                </fieldset>
               
                <!-- card body end -->
              </div>
            </div>
          </div>
          <!-- card body end -->
          <div class="card-footer">
            
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
          </div>
        </form>
        <!-- form end -->
      </div>
    </div>
    <!-- 2nd Form End -->
  