<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#menu1">Par Contents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Par Appraisors</a>
  </li>
 
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="menu1">
    <app-par-config-table></app-par-config-table>
  </div>
  <div class="tab-pane container fade" id="menu2">
   <app-par-appraisors></app-par-appraisors>
  </div>

</div>
