<div id="editdenied" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Edit Promotion Denied</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <!-- <form role="form">
            <div class="mat-elevation-z8"> -->
          <!-- card body start -->
          <div [formGroup]="editpromotiondenied">
            {{editpromotiondenied.value | json}}
            <div class="card-body">

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="denID">Denied ID</label>
                    <input type="text" class="form-control" formControlName="denID" name="denID" [(ngModel)]="editObj.id">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="reqId">Request ID</label>
                    <input type="text" class="form-control" formControlName="reqId" name="reqId" [(ngModel)]="editObj.requsetId">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="desiid">Designation ID</label>
                    <input type="text" class="form-control" formControlName="desiid" name="desiid" [(ngModel)]="editObj.designationId">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="position">position</label>
                    <select class="form-control" formControlName="positionname" name="positionname" [(ngModel)]="editObj.position">
                      <option>SE</option>
                      <option>QA</option>
                      <option>PM</option>
                      <option>BA</option>
                      <option>ASE</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="denieddate">Denied Date</label>
                    <input type="text" mwlFlatpickr class="form-control" formControlName="denieddate" name="denieddate" [(ngModel)]="editObj.deniedDate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deniedremark">Denied Remark</label>
                    <textarea class="form-control" formControlName="Deniedremark" name="Deniedremark" [(ngModel)]="editObj.deniedRemark"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deniedby">Denied By</label>
                    <input class="form-control" formControlName="deniedby" name="deniedby"[(ngModel)]="editObj.deniedBy">
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <!-- card body end -->
            <div class="card-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" (click)="updatePromotionDeniedHistory()" >Update</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#canceleditdenied">Cancel</button>
            </div>
            <!-- </form> -->
            <!-- form end -->
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->

    </div>
    <!-- modal content end -->

  </div>
</div>