<app-view-career-development-plan></app-view-career-development-plan>
<app-table-view></app-table-view>
<app-employee-view-career-development-plan></app-employee-view-career-development-plan>
<div class="row">
    <div class="col-md-6">
        <app-table-view></app-table-view>
    </div>
    <div class="col-md-6">
        <app-employee-add-career-goals></app-employee-add-career-goals>
    </div>
</div>

<app-add-career-development-plan></app-add-career-development-plan>
<app-edit-career-development-plan></app-edit-career-development-plan>
<app-delete-career-development-plan></app-delete-career-development-plan>