<!-- update modal start -->
<div id="searchfinalassesment" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">score details</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
  
            <!-- form start -->
            <form role="form">
              <!-- card body start -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label ">Trainee number  :</label>001
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label ">Trainee Name  :</label>Trainee1
                    </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label ">Final Score:</label>70%
                       </div>
                    </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label ">Matrices Measured:</label>
                     </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label ">Relevant score for the matrices:</label>
                       </div>
                    </div>

                  <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label ">Remarks:</label>
                       </div>
                    </div>

                </div>
              </div>
              <!-- card body end -->
            </form>
            <!-- form end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#delete-modal">Close</button>
        </div>
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- update modal end -->
  