 <!-- main card start  -->
    <div class="card">
      <div class="row">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <!-- <div class="col-md-12"> -->
                  <form [formGroup]="firstFormGroup">
                    <div class="form-group">
                      <label>Par Id:</label>
                      <input type="text" class="form-control" placeholder="Par ID" formControlName="parId" name="parId"
                        required>
                    </div>
                    <div class="form-group">
                      <label>Employee Id:</label>
                      <input type="text" class="form-control" placeholder="Employee Id" formControlName="empId" name="empId"
                        required>
                    </div>
                    <div class="form-group">
                      <label>Schedule Date:</label>
                      <input type="date" class="form-control" placeholder="Schdule Date" formControlName="parDate" name="parDate"
                        required>
                    </div>
                    <div class="form-group">
                      <label>Schedule Time:</label>
                      <input type="time" class="form-control" placeholder="Schedule Time" formControlName="parTime"
                        name="parTime" required>
                    </div>
                  </form>
                  <button (click)="pushEmp()">push Employee</button>
                <!-- </div> -->
              </div>
          </div>
          </div>
        </div>

        <div class="col-md-4">
          <h2>Appraisors List</h2>
          <ul>
            <li *ngFor="let parAppraisor of parAppraisorArray">
              {{parAppraisor.empId}}
              <label><input type="checkbox" [name]="parAppraisor.id" [(ngModel)]="parAppraisor.isActive"></label>
            </li>
          </ul>
          <button (click)=" appraisorsListPush()">Appraisors Push</button>
        </div>

        <div class="col-md-4">
          <div class="row">
            <form #formParConfig="ngForm">
              <table>
                <tr *ngFor="let parConfig of parConfigArray">
                  <label><input type="checkbox" [name]="parConfig.id" [(ngModel)]="parConfig.isActive">{{parConfig.contentName}}</label>
                </tr>
                {{formParConfig.value | json}}
                <button (click)="contentListPush()">push content </button>
              </table>
            </form>


          </div>
          <pre>
    {{scheduleParObj | json}}
  </pre>

        </div>

      </div>
      <div class="row">

        <button type="submit" class="btn btn-default" (click)="schedulePar()">Schedule Par</button>

      </div>
      <!-- main card end   -->
    </div>