<div class="card">
  <div class="card-header">
    <h5 class="card-title">view all suggestion</h5>
    <div class="card-tools">
    </div>
  </div>
  <div class="card-body nopadding">
    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Suggestion/Feedback</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let suggestion of suggestions">
          <td>{{suggestion.createdAt}}</td>
          <td>{{suggestion.description}}</td>
          <td>{{suggestion.type}}</td>
        </tr>
      </tbody>
    </table> -->
    <fieldset>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">feedback</label>
            <li>feedbacks</li><br>
          </div>
        </div>
      </div>
    </fieldset>

  </div>

</div>