<!-- add modal start -->
<div class="modal fade" id="addmodal2">
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"> General Information </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form>

            <!-- card body start -->

            <!-- <div class="col-md-">
              <div class="form-group">
                <label for="id">Trainer ID</label>
                <input type="text" class="form-control" name="id" id="id" placeholder="Enter the Trainer ID"
                  [(ngModel)]="generalInfoObj.id">
              </div>
            </div> -->

            <div class="row">
              <div class="form-group col-md-6">
                <label for="inputtrainerName"> Trainer Name</label>
                <input type="text" id="name" name="name " placeholder="Enter Employee name" class="form-control"
                  [(ngModel)]="generalInfoObj.fullname">
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email </label>
                  <!-- <input type="text" class="form-control" id="email" placeholder="Enter your Email"name="email"  [(ngModel)]="proObj.email"> -->
                  <input type="text" id="email" name="email" placeholder="Email (abc123@email.com)" class="form-control"
                    [(ngModel)]="generalInfoObj.email">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nic">Nationality</label>
                  <input type="text" class="form-control" id="nic" placeholder="Enter Your Nationality" name="nic"
                    [(ngModel)]="generalInfoObj.nationality">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="nic">NIC</label>
                  <input type="text" class="form-control" id="nic" placeholder="Enter your NIC Number" name="nat"
                    [(ngModel)]="generalInfoObj.nic">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="religion">Religion</label>
                  <input type="text" class="form-control" id="religion" name="religion" placeholder="Enter your Religion"
                    name="religion" [(ngModel)]="generalInfoObj.religion">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="gender">Gender</label><br><br>
                  <div class="row">
                    <div class="col-sm-3">
                      <input type="radio" name="gender" value="Male" [(ngModel)]="generalInfoObj.gender">
                      Male
                    </div>
                    <div class="col-sm-3">
                      <input type="radio" name="gender" value="Female" [(ngModel)]="generalInfoObj.gender">
                      Female
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateofbirth"> Date of Birth</label>
                  <input type="date" class="form-control" id="date-of-birth" placeholder="dd/mm/yyyy" name="dob"
                    [(ngModel)]="generalInfoObj.dateOfBirth">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="permanentaddress">Permanent Address</label>
                  <textarea class="form-control" name="addressP" id="address" placeholder="Enter your Permanent Address"
                    [(ngModel)]="generalInfoObj.permenentAddress"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="residential-address">Residential Address</label>
                  <textarea class="form-control" name="addressR" placeholder="Enter your Residential Address"
                    [(ngModel)]="generalInfoObj.residentialAddress"></textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input type="text" class="form-control" id="mobile" placeholder="Enter your Mobile Number" name="mobile"
                    [(ngModel)]="generalInfoObj.mobileNumber">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="residential-number">Telephone Number</label>
                  <input type="text" class="form-control" id="residential-number" placeholder="Enter your Residential Mobile Number"
                    name="telephone" [(ngModel)]="generalInfoObj.telephoneNumber">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="marital-status">Marital Status</label>
                  <input type="text" class="form-control" id="marital-status" placeholder="Enter your Marital Status"
                    name="marital-status" [(ngModel)]="generalInfoObj.maritalStatus">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="position"> Position </label>
                  <input type="text" class="form-control" id="position" placeholder="Enter your Position" name="position"
                    [(ngModel)]="generalInfoObj.position">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="spArea">Specialized Area</label>
                  <input type="text" class="form-control" id="spArea" placeholder="Enter your Specialized Area" name="spArea"
                    [(ngModel)]="generalInfoObj.specializedArea">
                </div>
              </div>
            </div>

          </form>
        </div>
        <!-- form end -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createTechnologySkillLevel()"> Add</button>
      </div>
    </div>
  </div>
</div>