<!-- add modal start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Promotion Denied History</h5>
      </div>

      <!-- form start -->
      
      <div class="card-body">

              <!-- <div class="row">
                <div class="col-md-2">
                  <select class="form-control">
                    <option>Employee ID</option>
                    <option>Employee Name</option>
                  </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="emp" name="emp" placeholder="Enter Selection">
                </div>
                <div class="col-md-4">
                  <i class="material-icons pointer">search</i>
                </div>
              </div> -->

        <!-- <label for="role">Employee Name</label>
        <div class="row">
          <div class="col-md-2">
            <input type="text" class="form-control" id="empname" name="empname">
          </div>
          <div class="col-md-4">
            <i class="material-icons pointer">search</i>
          </div>
        </div> -->

        <!-- <br>
        <br> -->
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource">

            <!-- column 1 start -->
            <ng-container matColumnDef="deniedID">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Denied ID</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.deniedID}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

             <!-- column 1 start -->
             <ng-container matColumnDef="DesignID">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Designation ID</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.DesignID}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="reqID">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Request ID</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.reqID}} </mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 4 start -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.position}} </mat-cell>
            </ng-container>
            <!-- column 4 end -->

            <!-- column 5 start -->
            <ng-container matColumnDef="denieddate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Denied Date</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.denieddate}} </mat-cell>
            </ng-container>
            <!-- column 5 end -->

            <!-- column 6 start -->
            <ng-container matColumnDef="deniedremark">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Denied Remark</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.deniedremark}} </mat-cell>
            </ng-container>
            <!-- column 6 end -->

             <!-- column 6 start -->
             <ng-container matColumnDef="deniedBy">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Denied By</mat-header-cell>
              <mat-cell *matCellDef="let denhist"> {{denhist.deniedBy}} </mat-cell>
            </ng-container>
            <!-- column 6 end -->

            <!-- column 5 start -->
            <ng-container matColumnDef="edit/delete">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delete </mat-header-cell>
              <mat-cell *matCellDef="let denhist">
                <!-- <a href="#" ><span class="material-icons">edit</span></a> &nbsp;&nbsp;&nbsp;
                    <a href="#" ><span class="material-icons">delete</span></a> -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editdenied">Edit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addPromotion">Delete</button>&nbsp;&nbsp;

              </mat-cell>
            </ng-container>
            <!-- column 5 end -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

        </div>
      </div>
      <!-- form end -->
    </div>
  </div>
</div>
<!-- modal content end -->

<!-- add modal end -->