<!-- <div style="height:600px">
    <h5>Promotion</h5>
    <mat-tab-group>
        <mat-tab label="Promotion Request">
            <app-request-promotion></app-request-promotion>
        </mat-tab>
        <mat-tab label="Request History">
            <app-promotion-eligibility></app-promotion-eligibility>
        </mat-tab>
        

        <mat-tab label="Promotion History">
            <app-promotion-history></app-promotion-history>
        </mat-tab>
        <mat-tab label="Promotion Denied History">
            <app-promotion-denied-history></app-promotion-denied-history>
        </mat-tab>

    </mat-tab-group>
</div>

<app-edu-qual-list></app-edu-qual-list>
<app-leave-hist-list></app-leave-hist-list>
<app-par-hist-list></app-par-hist-list>

<app-add-promotion></app-add-promotion>
<app-add-denied-promotion></app-add-denied-promotion>
<app-edit-promotion-history></app-edit-promotion-history>
<app-edit-promotion-denied-history></app-edit-promotion-denied-history> -->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" routerLinkActive="active">
                        <a class="active" routerLink="RequestPromotion" aria-controls="home" role="tab" data-toggle="tab">Request
                            Promotion</a></li>
                    <li role="presentation" routerLinkActive="active">
                        <a routerLink="RequestHistory" aria-controls="profile" role="tab" data-toggle="tab">Request
                            History</a></li>
                    <li role="presentation" routerLinkActive="active">
                        <a class="active" routerLink="PromotionHistory" aria-controls="home" role="tab" data-toggle="tab">Promotion
                            History</a></li>
                    <li role="presentation" routerLinkActive="active">
                        <a routerLink="DeniedHistory" aria-controls="profile" role="tab" data-toggle="tab">Denied
                            History</a></li>
                </ul>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>