/* input[type="file"] {
    display: none;
}
.custom-file-upload {
    text-align: left;
    width: 180px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 11px !important;
    background: #dad7d7;
} */
.btn-lg{
    text-align: left;
    width: 180px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 11px !important;
    background: #dad7d7;
}

div {
    position: relative;
    overflow: hidden;
  }
  input {
    position: absolute;
    font-size: 11px;
    opacity: 0;
    right: 0;
    top: 0;
  }