<div class="row">
    <div class="col-md-11">
      <div class="card">
        <div class="card-header">
          <h6>HR's Career Development Plan</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary ">
                <!-- form start -->
                <form role="form" #roleForm="ngForm">
                  <div class="container-fluid">
                    <!-- card body start -->
                    <fieldset>
                      <legend></legend>
                
                      <div class="form-group">
                        <table class="table">
                          <tr>
                            <th>Employee's Name</th>
                            <th>Career Plans</th>
                            <th>Status</th>
                            
                            
                          </tr>
                          <tr *ngFor="let plans of careerDevPlan">
                            <td>{{plans.userId.fullName}}</td>
                            <td>{{plans.cdpId.name}}</td>
                            <td>{{plans.status}}</td>
                            <td>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal" (click)="editCareerDev(plans)"
                                >edit
                              </button>
                            </td>
                            <td> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"
                               >Delete</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </fieldset>
                  </div>
                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
        </div>
        <!-- card body end -->
      </div>
    </div>
  </div>
  