<!-- add modal start -->
<div class="modal fade" id="addmodal">
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"> Record of Employment </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form>

            <!-- card body start -->

            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="id"> ID</label>
                <input type="text" class="form-control" id="id" name="from" placeholder="Record of Employment ID"
                  disabled>
              </div>
            </div> -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date"> From Year</label>
                  <input type="date" class="form-control" id="id" name="from" placeholder="dd/mm/yyyy" [(ngModel)]="recordOfEmployObj.fromYear">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="start-date"> To Year</label>
                  <input type="date" class="form-control" id="to" name="to" placeholder="dd/mm/yyyy" [(ngModel)]="recordOfEmployObj.toYear">
                </div>
              </div>
              <!-- </div> -->

              <div class="col-md-6">
                <div class="form-group">
                  <label for="leave-type">Period </label>
                  <input class="form-control" id="period" name="period" placeholder="Enthe the Period" [(ngModel)]="recordOfEmployObj.period">
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="end-date"> Work Place Name</label>
                  <input type="text" class="form-control" id="workPlaceName" name="workPlaceName" placeholder="Enter the work Place Name"
                    [(ngModel)]="recordOfEmployObj.workPlaceName">
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="address">Work Place Addres</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Enthe the work place Address"
                    [(ngModel)]="recordOfEmployObj.workPlaceAddress">
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="designation"> Position</label>
                  <input type="text" class="form-control" id="designation" name="designation" placeholder="Enthe the Designation"
                    [(ngModel)]="recordOfEmployObj.position">
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="workType">Type of Work</label>
                  <input type="text" class="form-control" id="workType" name="workType" placeholder="Enthe the work type"
                    [(ngModel)]="recordOfEmployObj.typeOfWork">
                </div>
              </div>

            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createRecordOfEmployment()"> Add</button>
      </div>
    </div>
  </div>

</div>
<!-- modal content end -->

<!-- add modal end -->