<div class="card">
  

    <div class="card-body">
      {{formParAppraisor.value | json}}
    <form class="form-inline" [formGroup]="formParAppraisor">
      <div class="form-group">
        <label for="appraisorId">Appraisor Id:</label>
        <input type="text" class="form-control" formControlName="appraisorId" name="appraisorId" id="appraisorId">
      </div>
      <div class="form-group">
        <label for="appraisorName">Appraisor Name:</label>
        <input type="text" class="form-control"  formControlName="appraisorEmpId" name="appraisorEmpId" id="appraisorName">
      </div>
     
      <button type="submit" class="btn btn-default"  (click)="addData()">Add</button>
    </form>
    </div>
    </div>
    
    
    <table class="table table-striped">
      <thead>
        <tr >
          <th>Appraisor Id</th>
          <th>Appraisor Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parAppraisor of parAppraisorArray">
          <td>{{parAppraisor.id}}</td>
          <td>{{parAppraisor.empId}}</td>
          <td>
            <button class="btn btn-primary">Edit</button> 
            &nbsp;
             <button class="btn btn-warning">Delete</button>
          </td>
        </tr>
        
      </tbody>
    </table>
