<div id="deniedPromotion" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Denied Promotion</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <!-- card body start -->
          <div [formGroup]="deniedpromation">
            {{deniedpromation.value | json}}
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="empId">Employee ID</label>
                    <input type="text" class="form-control" formControlName="empId" name="empId" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="empname">Employee name</label>
                    <input type="text" class="form-control" formControlName="empname" name="empname" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="position">position</label>
                    <select class="form-control" formControlName="positionname" name="positionname">
                      <option>SE</option>
                      <option>QA</option>
                      <option>PM</option>
                      <option>BA</option>
                      <option>ASE</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="denieddate">Denied Date</label>
                    <input type="text" mwlFlatpickr class="form-control" formControlName="denieddate" name="denieddate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deniedremark">Denied remark</label>
                    <textarea class="form-control" formControlName="Deniedremark" name="Deniedremark"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!-- card body end -->
            <div class="card-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">Save</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#cancelpromotion">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal content end -->
  </div>
</div>