<!-- Nav tabs -->
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" routerLink="viewtakenemploan">All Loan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="viewtakenhrloan">Loan Taken Loan List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="viewtakenloan">Loan Taken List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="viewtakenloan">Taken Loan List</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <router-outlet></router-outlet>
</div>