<div class="row">
  <div class="col-md-10">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h3 class="card-title">Par Notification</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->
      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <!-- form start -->
              <form role="form">
                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="departmentName">Department Name</label>
                        <input list="departmentList" class="form-control" name="departmentName" id="departmentName"
                          placeholder="Department Name" autocomplete="on">
                        <datalist id="departmentList">
                          <option value="IT"></option>
                          <option value="Finance"></option>
                          <option value="HR"></option>
                          <option value="Marketing"></option>
                        </datalist>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input list="employeeList" class="form-control" name="employeeName" id="employeeName"
                          placeholder="Select Employee" autocomplete="on">
                        <datalist id="employeeList">
                          <option value="Raamu"></option>
                          <option value="Soomu"></option>
                          <option value="Keemu"></option>
                          <option value="Seemu"></option>
                          <option value="Heemu"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <label for="employeeName">Message</label>
                    <textarea class="form-control "> </textarea>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label for="email">Email ID</label>
                      <input list="email" class="form-control" name="Email" id="Email" placeholder="Email" autocomplete="on">
                    </div>

                    <div class="col-md-6">
                      <label for="email">Phone Number</label>
                      <input list="phone" class="form-control" name="Phone" id="Phone" placeholder="Phone" autocomplete="on">
                    </div>
                  </div>
                  &nbsp;
                  <div class="row">
                    <div>
                      <div><label>Via</label></div>
                      
                      <mat-checkbox value="1"> Email</mat-checkbox>
                      &nbsp;
                      <mat-checkbox value="2">Phone</mat-checkbox>
                      &nbsp;
                      <mat-checkbox value="3">System Notification</mat-checkbox>
                    </div>
                  </div>
                </div>
                <!-- card body end -->
                <div class="card-footer">
                  <button type="button" class="btn btn-primary">Sent</button>
                  <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Refresh</button> -->
                </div>
              </form>
              <!-- form end -->

            </div>
          </div>
        </div>
        <!-- card body end -->
      </div>
    </div>
  </div>
</div>