<div class="row">
    <div class="col-md-8">
        <div class="card">

            <!-- card header start -->
            <div class="card-header">
                <h5 class="card-title">Record Of Applicant CVs</h5>
                {{recordOfApplicantObj.value | json}}
                <div class="card-tools">

                </div>
            </div>
            <!-- {{recordApplicantCv.value|json}} -->
            <!-- card-header end -->

            <!-- card body start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">

                            <!-- form start -->
                            <!-- <form [formGroup]="editViewRecordApplicantCv"> -->
                            <form #cvForm=ngForm>
                            <!-- card body start -->
                            <div class="card-body">
                                
                                <div class="row">
                                        
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="start-date">Full Name</label>
                                            <input type="text" class="form-control" name="fullName" id="fullName"
                                                [(ngModel)]="recordOfApplicantObj.fullName">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="start-date">Email</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                [(ngModel)]="recordOfApplicantObj.email">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="start-date">NIC</label>
                                            <input type="text" class="form-control" id="nic" name="nic" [(ngModel)]="recordOfApplicantObj.nic">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                        <div class="form-group">
                          <label for="end-date">Age</label>
                          <input type="text" class="form-control" id="age" name="age" [(ngModel)]="recordOfApplicantObj.highestQualificationid">
                        </div>
                      </div> -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="appointment-date">DOB</label>
                                            <input type="text" class="form-control" mwlFlatpickr id="dob" name="dob"
                                                placeholder="dd/mm/yyyy" [(ngModel)]="recordOfApplicantObj.dateOfBirth">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="end-date">Highest Educational Qualification</label>
                                            <select class="form-control" name="qualification">
                                                <option>Qualification 1</option>
                                                <option>Qualification 2</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Applied Post</label>
                                            <select class="form-control" name="post">
                                                <option>post1</option>
                                                <option>post2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="file-field">
                                            <label for="exampleInputEmail1">Attach CV</label>
                                            <br>
                                            <div class="btn blue-gradient btn-sm float-left">

                                                <input type="file" multiple id="attachCv" name="attachCv" [(ngModel)]="recordOfApplicantObj.cvFile">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Address</label>
                                            <input type="textarea" class="form-control" name="address">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- card body end -->

                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit"(click)= addApplicantCv()>Add</button>
                            </div>
                            </form>
                            <!-- </form> -->
                            <!-- form end -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- card body end -->

        </div>
    </div>
</div>