   <!-- 4th Form Start -->
   <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Record of Employment</h5>
  
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->
  
      <!-- card body start -->
      <div class="card-body nopadding">
        <!-- form start -->
        <form role="form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <!-- card body start -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Employee Name</label>
                          <!-- <input name="funame" list="options" class=" form-control" [(ngModel)]="refObj.user">
                          <datalist id="options">
                            <option selected disabled>Select a Employee Name</option>
                            <option *ngFor="let users of user" data-value="{{users.id}}">{{users.fullName}}</option>
                          </datalist> -->
                          <select _ngcontent-c5="" class="form-control form-control-md" name="xyz" [(ngModel)]="recordObj.user">
                              <option selected disabled value="">Select Employee Name</option>
                            <option _ngcontent-c5="" selected="" *ngFor="let us of user" value="{{us.id}}" (click)="getUserId()" >
                                {{us.fullName}}</option>
                            </select>
                        </div>
                      </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name-school">Name of Work</label>
                      <input type="text" class="form-control" id="primary-year-form" placeholder="Name of Work" name="name" [(ngModel)]="recordObj.workName">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Period Year</label>
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="school-from" placeholder="From" name="periodYearFrom" [(ngModel)]="recordObj.periodYearFrom">
                        </div>
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="school-to" placeholder="To" name="periodYearTo" [(ngModel)]="recordObj.periodYearTo">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name-school">Address of Work</label>
                      <input type="text" class="form-control" id="primary-year-form" placeholder="Address of Work" name="workPlace" [(ngModel)]="recordObj.workPlace">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="school-subject">Designation of Work</label>
                      <input type="text" class="form-control" id="subject" placeholder="Designation of Work" name="designation" [(ngModel)]="recordObj.designation">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="school-subject">Type of Work</label>
                      <input type="text" class="form-control" id="subject" placeholder="Type of Work" name="workType" [(ngModel)]="recordObj.workType">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="reason-leaving">Reason for Leaving</label>
                      <textarea class="form-control" name="reasonForLeaving" [(ngModel)]="recordObj.reasonForLeaving"></textarea>
                    </div>
                  </div>
                
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="leaving-salary">Leaving Salary</label>
                      <input type="text" class="form-control" id="leaving-salary" placeholder="Leaving Salary" name="leavingSalary" [(ngModel)]="recordObj.leavingSalary">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12 btnpadding">

                    <button type="button" class="btn btn-primary pull-right" (click)="addRecordOfEmployeeMent()" >Save</button>
                  </div>
                </div>
                <!-- card body end -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" (click)="previous()" >Previous</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="next()" >Next</button>
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button> -->
          </div>
        </form>
        <!-- form end -->
      </div>
      <!-- card body end -->
    </div>
    <!-- 4th Form End -->