<!-- <app-header *ngIf="loggedIn === 'true'"></app-header>
<app-sidebar *ngIf="loggedIn === 'true'"></app-sidebar>
<app-dashboard *ngIf="loggedIn === 'true'"></app-dashboard>
<app-login *ngIf="loggedIn === 'false'"></app-login> -->

<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
        <app-enter-par-review-outcome></app-enter-par-review-outcome>
<app-dashboard></app-dashboard>

<app-schedule-new-par></app-schedule-new-par>
<app-upcoming-par></app-upcoming-par>
<!-- <app-login></app-login> -->
</div>
<app-footer></app-footer>