<!-- request leave start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <!-- <div class="card-header">
          <h5 class="card-title">Schedule New PAR</h5>
  
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div> -->
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-group">
                      <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                            Employee Id
                            <span><mat-checkbox></mat-checkbox></span>
                          </li>
                      
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Employee name
                            <span><mat-checkbox></mat-checkbox></span>
                          </li>
                      
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Department
                            <span><mat-checkbox></mat-checkbox></span>
                          </li>
                      
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Position
                            <span><mat-checkbox></mat-checkbox></span>
                          </li>
                      
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Due Date
                            <span><mat-checkbox></mat-checkbox></span>
                          </li>
                      
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Appraisers
                            <span><mat-checkbox></mat-checkbox></span>
                          </li> -->

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Overall Technical List
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        QA-Testing
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        QA-Defect Tracking
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Leadership
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Commitment
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Communication
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Team Work
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Attitude
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Punctuality
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Out of the box thinking
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Attendance
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Attention to Detail
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Trainability
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Contribution to the Company
                        <span><mat-checkbox></mat-checkbox></span>
                      </li>
                    </ul>
                  </div>

                </div>
                <!-- <div class="card-footer">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#view-configuration">Add</button>
                            </div> -->
                <!-- card body end -->
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>

<!-- <app-add></app-add>
  <app-delete></app-delete>
   -->
<!-- request leave end -->