 <!-- 2nd Form Start -->
 <div class="card">
    <!-- card header start -->
    <div class="card-header">
      <h5 class="card-title">View Profile</h5>

      <div class="card-tools">
        <!-- <button type="button" class="btn btn-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button> -->
      </div>
    </div>
    <!-- card-header end -->
      <!-- card-header end -->
      <div class="card-body nopadding">
          <div class="row">
              <div class="col-md-12">

                    <fieldset>
                            <legend>
                                <h6>General Information</h6>
                            </legend>
                            <app-general-information></app-general-information>
                    </fieldset>

                    <fieldset>
                            <legend>
                                <h6>Technology Skill Level</h6>
                            </legend>
                            <app-technology-skill-level></app-technology-skill-level>
                    </fieldset>

                    <fieldset>
                            <legend>
                                <h6>Academic Qualification</h6>
                            </legend>
                            <app-academic-qualification></app-academic-qualification>
                    </fieldset>
                  <fieldset>
                      <legend>
                          <h6>Professional Qualification</h6>
                      </legend>
                      <app-professional-qualification></app-professional-qualification>
                  </fieldset>
                  <fieldset>
                      <legend>
                          <h6>Professional Membership</h6>
                      </legend>
                      <app-professional-menber-ships></app-professional-menber-ships>
                  </fieldset>

                  <fieldset>
                        <legend>
                            <h6> Record Of Employment</h6>
                        </legend>
                        <app-record-of-employment></app-record-of-employment>
                </fieldset>
                  
              </div>
          </div>
          </div>
          <div class="card-footer">
          </div>
      </div>
 