<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Feedback Form</h5>
    </div>

    <div class="card-body">
      <form>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <fieldset>
                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Trainer</label>
                      <select class="form-control departmentDropdown" [(ngModel)]="suggestionObj.type" name="type">
                        <option value="suggestion">trainer name 1</option>
                        <option value="feedback">trainer name2</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">feedback</label><br><br><br>
                      <li value="">Objective Of The Training Was Clearly Defined</li><br>
                      <li value="">Participation And Interaction Were Encouraged</li><br>
                      <li value="">Content Was Well Organized And Easy To Follow</li><br>
                      <li value="">Meterials Distributed Were Helpfull</li><br>
                      <li value="">This Training Will Helpfull For My Work</li><br>
                      <li value="">Trainer Was Good knowladge In Topic</li><br>
                      <li value="">Trainer Was Prepared</li><br>
                      <li value="">Training Objective Were Met</li><br>
                      <li value="">Allocated Time Were sufficient</li><br>
                      <li value="">Interaction With Trainee</li><br>
                      <li value="">How would you Rate For The Training</li><br>
                      <li value="">Recomending this course to others</li><br>
                      <li value="">Give Any Other Suggestion/Feedbacks</li>

                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                     
                      <br><br><br><br>
                      <label for="exampleInputEmail1">Select You Ratings</label><br><br>

                      <div>&nbsp; &nbsp; &nbsp;
                        1&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        2&nbsp; &nbsp; &nbsp;&nbsp;
                        3&nbsp; &nbsp; &nbsp;&nbsp;
                        4&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;5</div><br>

                      <div class="radio radio-primary">
                        <input class="radio-btn" type="radio" name="radio1" id="radio1" value="1">
                        <input type="radio" name="radio1" id="radio1" value="2">
                        <input type="radio" name="radio1" id="radio1" value="3">
                        <input type="radio" name="radio1" id="radio1" value="4">
                        <input type="radio" name="radio1" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio2" id="radio1" value="1">
                        <input type="radio" name="radio2" id="radio1" value="2">
                        <input type="radio" name="radio2" id="radio1" value="3">
                        <input type="radio" name="radio2" id="radio1" value="4">
                        <input type="radio" name="radio2" id="radio1" value="4">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio3" id="radio1" value="1">
                        <input type="radio" name="radio3" id="radio1" value="2">
                        <input type="radio" name="radio3" id="radio1" value="3">
                        <input type="radio" name="radio3" id="radio1" value="4">
                        <input type="radio" name="radio3" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio4" id="radio1" value="1">
                        <input type="radio" name="radio4" id="radio1" value="2">
                        <input type="radio" name="radio4" id="radio1" value="3">
                        <input type="radio" name="radio4" id="radio1" value="4">
                        <input type="radio" name="radio4" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio5" id="radio1" value="1">
                        <input type="radio" name="radio5" id="radio1" value="2">
                        <input type="radio" name="radio5" id="radio1" value="3">
                        <input type="radio" name="radio5" id="radio1" value="4">
                        <input type="radio" name="radio5" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio6" id="radio1" value="1">
                        <input type="radio" name="radio6" id="radio1" value="2">
                        <input type="radio" name="radio6" id="radio1" value="3">
                        <input type="radio" name="radio6" id="radio1" value="4">
                        <input type="radio" name="radio" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio7" id="radio1" value="1">
                        <input type="radio" name="radio7" id="radio1" value="2">
                        <input type="radio" name="radio7" id="radio1" value="3">
                        <input type="radio" name="radio7" id="radio1" value="4">
                        <input type="radio" name="radio7" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio8" id="radio1" value="1">
                        <input type="radio" name="radio8" id="radio1" value="2">
                        <input type="radio" name="radio8" id="radio1" value="3">
                        <input type="radio" name="radio8" id="radio1" value="4">
                        <input type="radio" name="radio8" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio9" id="radio1" value="1">
                        <input type="radio" name="radio9" id="radio1" value="2">
                        <input type="radio" name="radio9" id="radio1" value="3">
                        <input type="radio" name="radio9" id="radio1" value="4">
                        <input type="radio" name="radio9" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio10" id="radio1" value="1">
                        <input type="radio" name="radio10" id="radio1" value="2">
                        <input type="radio" name="radio10" id="radio1" value="3">
                        <input type="radio" name="radio10" id="radio1" value="4">
                        <input type="radio" name="radio10" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio11" id="radio1" value="1">
                        <input type="radio" name="radio11" id="radio1" value="2">
                        <input type="radio" name="radio11" id="radio1" value="3">
                        <input type="radio" name="radio11" id="radio1" value="4">
                        <input type="radio" name="radio11" id="radio1" value="5">
                      </div><br>

                      <div class="radio radio-primary">
                        <input type="radio" name="radio12" id="radio1" value="1">
                        <input type="radio" name="radio12" id="radio1" value="2">
                        <input type="radio" name="radio12" id="radio1" value="3">
                        <input type="radio" name="radio12" id="radio1" value="4">
                        <input type="radio" name="radio12" id="radio1" value="5">
                      </div><br>

                      <div class="col-md-8">
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <p> In here you can rate your trainers perfomence according to your satisfaction.
                        and you can let them to know how is the sender, If you wish.</p>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h6>Excelent</h6>
                        <h6>Very Good</h6>
                        <h6>Good</h6>
                        <h6>Fair</h6>
                        <h6>Poor</h6>
                      </div>
                      <div class="col-md-4">
                        <h6>5</h6>
                        <h6>4</h6>
                        <h6>3</h6>
                        <h6>2</h6>
                        <h6>1</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- </fieldset> -->
            </div>
          </div>

        </div>
      </form>
    </div>

    <div class="card-footer">
      <button type="button" class="btn btn-primary">Send</button>
      &nbsp;
      <button type="button" class="btn btn-primary">Cancel</button>
      &nbsp;
    </div>

  </div>
</div>





<!-- <div class="card">
  <div class="card-header">
    <h5 class="card-title">Suggestion & Feedback</h5>
    <div class="card-tools">
    </div>
  </div>
  <div class="card-body nopadding">
    <form role="form" #suggestionForm="ngForm">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Select a type</label>
                    <select class="form-control departmentDropdown" [(ngModel)]="suggestionObj.type" name="type">
                      <option value="suggestion">suggestion</option>
                      <option value="feedback">feedbacks</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Description</label>
                    <textarea required type="text" class="form-control" placeholder="Description Name" [(ngModel)]="suggestionObj.description"
                      name="description">
                                              </textarea>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Relevant Department</label>
                    <select class="form-control departmentDropdown" [(ngModel)]="suggestionObj.department" name="department">
                      <option selected disabled value="0"></option>
                      <option *ngFor="let department of department" data-value="{{department.id}}">{{department.departmentName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Relevant Individuals</label>
                    <select class="form-control departmentDropdown" [(ngModel)]="suggestionObj.user" name="fullName"
                      placeholder="suggestion/feedback" >
                      <option selected disabled value="0"></option>
                      <option *ngFor="let user of users"  data-value="{{user.id}}">{{user.fullName}}</option>
                    </select>
                  </div>
                </div>

              </div>
            </fieldset>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary" (click)="createSuggestion();suggestionForm.reset()">Send</button>
    &nbsp;
    <button type="button" class="btn btn-primary">Cancel</button> &nbsp;
    <div class="alert alert-success notification" id="alert-success" *ngIf="responseMsg === 'success'">
      <span class="bold-font">Success:</span> All records were processed correctly!
    </div>
    <div class="alert alert-danger notification" id="alert-danger" *ngIf="responseMsg === 'fail'">
      <span class="bold-font">Error:</span> Something went wrong.
    </div>
  </div>
</div> -->