<div class="row">
  <div class="col-md-9">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Create salary chart</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">


                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="departmentName">Department Name</label>
                        <input list="departmentList" class="form-control" name="departmentName" id="departmentName" placeholder="Select Department">
                        <datalist id="departmentList">
                          <option value="HR"></option>
                          <option value="Finance"></option>
                          <option value="Fire"></option>
                          <option value="Account"></option>
                        </datalist>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input list="employeeList" class="form-control" name="employeeName" id="employeeName" placeholder="Select Employee">
                        <datalist id="employeeList">
                          <option value="Raamu"></option>
                          <option value="Soomu"></option>
                          <option value="Keemu"></option>
                          <option value="Seemu"></option>
                          <option value="Heemu"></option>
                        </datalist>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Employee Id</label>
                        <input type="number" class="form-control" name="emploId" id="emploId" placeholder="Employee Id" readonly>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Stamp Duty</label>
                        <input type="text" class="form-control" name="stampDuty" id="stampDuty" placeholder="Enter Designation of signatory">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">PAYE </label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Loan</label>
                        <input type="text" class="form-control" name="loan" id="loan" placeholder="Loan">
                      </div>
                    </div>


                  </div>

                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Basic Salary</label>
                        <input type="number" class="form-control" name="basicSalary" id="basicSalary" placeholder="Rs">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Statutory Payment</label>
                        <input type="number" class="form-control" name="statutoryPayment" id="statutoryPayment" placeholder="Rs">
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">Net Salary</label>
                        <input type="number" class="form-control" name="netSalary" id="netSalary" placeholder="Rs">
                      </div>
                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">ETF 3% </label>
                        <input type="number" class="form-control" name="etf3%" id="etf3%" placeholder="Rs">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">EPF 12%</label>
                        <input type="text" class="form-control" name="epf12%" id="epf12%" placeholder="Rs">
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="position">EPF 8%</label>
                        <input type="number" class="form-control" name="EPF8%" id="EPF8%" placeholder="Rs">
                      </div>
                    </div>

                  </div>


                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal" [routerLink]="['/agrementletter']">Add</button>

                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Reset</button>
                </div>
              </form>
              <!-- form end -->


            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>