<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#menu1">Schedule Par</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">View Scheduled Par</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="menu1">
    <app-schedule-par-one-user></app-schedule-par-one-user>
  </div>
  <div class="tab-pane container fade" id="menu2">
    <app-view-schedule-par></app-view-schedule-par>
  </div>

</div>
