<!-- Discussion Schedule(Employee) view -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- Discussion Schedule(Discussion Schedule) card header start -->
      <div class="card-header">
        <h5 class="card-title">Discussion Schedule</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- Discussion Schedule(employee view) card header end -->
      <!-- Discussion Schedule(employee view) card body start -->
      <div class="card-body">
          <div class="row">
            <div class="col-md-5 custom bold-font">
              Venue
            </div>
            <div class="col-md-1 custom">
              :
            </div>
            <div class="col-md-6 custom">
              Main hall 1
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 custom bold-font">
              Time
            </div>
            <div class="col-md-1 custom">
              :
            </div>
            <div class="col-md-6 custom">
              11 a.m
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 custom bold-font">
              Individuals
            </div>
            <div class="col-md-1 custom">
              :
            </div>
            <div class="col-md-6 custom">
              HR,Manager
            </div>
          </div>
      </div>
    </div>
  </div>
</div>