<div class="row">
  <div class="col-md-11">
    <div class="card">
      <div class="card-header">
        <h6>Career Development Plan</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary ">
              <!-- form start -->
              <form role="form" #roleForm="ngForm">       
                <div class="container-fluid">
                  <!-- card body start -->
                  <fieldset>
                    <legend></legend>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Employee Name</label>
                          <input type="Number of copies " class="form-control" name="empName" [(ngModel)]="careerDevPlanObj.userId">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Career Development Plan</label>
                          <select class="form-control select2" [(ngModel)]="careerDevPlanObj.name" name="careerDevPlanId">
                            <option selected disabled value="0">Select a type</option>
                            <option value="WSO2">WSO2</option>
                            <option value="QA">QA</option>
                            <option value="Jenkins">Jenkins</option>
                            <!-- <option *ngFor="let selfServiceType of selfServiceType" value="{{selfServiceType.id}}">{{selfServiceType.selfServiceTypeName}}</option> -->
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"> Status </label>
                          <select class="form-control select2" name="status" [(ngModel)]="careerDevPlanObj.status">
                            <option selected disabled value="0">Select a type</option>
                            <option value="1">Planning</option>
                            <option value="2">Process</option>
                            <option value="3">Finish</option>
                          </select>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                            (click)="createCareerDevPlan()">Add</button>
                        </div>
                      </div>
                      </div>
                    
                    <div class="form-group">
                      <table class="table">
                        <tr>
                          <th>Career Plans</th>
                          <th>Status</th>
                        </tr>
                        <tr *ngFor="let plans of careerDevPlan">
                          <td>{{plans.cdpId}}</td>
                          <td>{{plans.status}}</td>
                          <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal"
                              >edit
                            </button>
                          </td>
                          <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal"
                             >Delete</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </fieldset>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>