<!-- modal start -->
<div id="reqPromotion" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Edit Promotion</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card-body">
            <p>Do you want to request?</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" (click)="addRequestPromotion()" >Yes</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>