
    <!-- 3rd Form Start -->
    <div class="card">
      <!-- card header start -->
      <!-- <div class="card-header">
        <h5 class="card-title">Professional Qualification</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div> -->
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body nopadding">
        <form role="form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">

                <!-- form start -->

                <fieldset>
                  <!-- card body start -->
                  <legend>University Qualification</legend>
                
                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label for="name-school">Name of School</label>
                        <input type="text" class="form-control" id="primary-year-form" placeholder="Name of School">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Period Year</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="school-from" placeholder="From">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="school-to" placeholder="To">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="school-subject">Subject Examinations Passed</label>
                        <input type="text" class="form-control" id="subject" placeholder="Enter Subject Examinations Passed">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="university-grading">Subject offered & Grading</label>
                        <input type="text" class="form-control" id="university-grading" placeholder="Subject offered & Grading">
                      </div>
                    </div> -->
                  
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Employee Name</label>
                            <!-- <input name="funame" list="options" class=" form-control" [(ngModel)]="refObj.user">
                            <datalist id="options">
                              <option selected disabled>Select a Employee Name</option>
                              <option *ngFor="let users of user" data-value="{{users.id}}">{{users.fullName}}</option>
                            </datalist> -->
                            <select _ngcontent-c5="" class="form-control form-control-md" name="xyz" [(ngModel)]="profesionalObj.user">
                                <option _ngcontent-c5="" selected="" *ngFor="let us of user" value="{{us.id}}" (click)="getUserId()" >
                                  {{us.fullName}}</option>
                              </select>
                          </div>
                        </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name-university">Name of University/Institution</label>
                        <input type="text" class="form-control" id="primary-year-form" placeholder="Name of University/Institution" name="name" [(ngModel)]="profesionalObj.insituteName">
                      </div>
                    </div>
                  </div> 
                      <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name-university">Course Name</label>
                        <input type="text" class="form-control" id="primary-year-form" placeholder="Name of Course" name="courseName" [(ngModel)]="profesionalObj.courseName">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="univesity-period" >Period Year</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input type="Year" class="form-control" id="university-from" placeholder="From" name="periodYearFrom" [(ngModel)]="profesionalObj.periodYearFrom">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="university-to" placeholder="To" name="periodYearTo" [(ngModel)]="profesionalObj.periodYearTo">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-subject">Course Type</label>
                          <input type="text" class="form-control" id="courseType" placeholder="Enter Course Type" name="courseType" [(ngModel)]="profesionalObj.courseType">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="university-grading">Examination Year</label>
                          <input type="text" class="form-control" id="examinationYear" placeholder="Examination Year" name="examinationYear" [(ngModel)]="profesionalObj.examinationYear">
                        </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="university-subject">Subject Examinations Passed</label>
                        <input type="text" class="form-control" id="university-subject" placeholder="Enter Subject Examinations Passed" name="result" [(ngModel)]="profesionalObj.result">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="university-grading">GPA</label>
                        <input type="text" class="form-control" id="university-grading" placeholder="Enter GPA" name="gpa" [(ngModel)]="profesionalObj.gpa">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12">
                      
                      <button type="button" class="btn btn-primary pull-right" (click)="addEmpProQualification()" >Save</button>
                    </div>
                  </div>
                  <!-- card body end -->



                </fieldset>
               
                <!-- card body end -->




              </div>
            </div>
          </div>
          <div class="card-footer">
            
          </div>
        </form>
        <!-- form end -->
      </div>
      <!-- card body end -->
    </div>
    <!-- 3rd Form End -->