<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Employees Details</h5>
      </div>
      <!-- card header end -->
      <!-- card body start -->
      <div class="card-body">
        <div>
          <label for="role">Role</label>
          <div class="row">
            <div class="col-md-2">
              <select class="form-control">
                <option>Select Role</option>
                <option>SE</option>
                <option>QA</option>
                <option>PM</option>
                <option>BA</option>
                <option>ASE</option>
              </select>
            </div>
            <div class="col-md-4">
              <i class="material-icons pointer">search</i>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource">
            <!-- column 1 start -->
            <ng-container matColumnDef="proReqId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Promotion Request ID</mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.proReqId}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->
            <!-- column 2 start -->
            <ng-container matColumnDef="emplID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>User ID</mat-header-cell>
                <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.emplID}} </mat-cell>
              </ng-container>
            <!-- column 2 end -->
            <!-- column 3 start -->
            <ng-container matColumnDef="jointdate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Joining </mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.jointdate}}</mat-cell>
            </ng-container>
            <!-- column 3 end -->
            <!-- column 4 start -->
            <ng-container matColumnDef="currposition">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.currposition}}</mat-cell>
            </ng-container>
            <!-- column 4 end -->
            <!-- column 5 start -->
            <ng-container matColumnDef="currsalary">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Current Salary </mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.currsalary}}</mat-cell>
            </ng-container>
            <!-- column 5 end -->
            <!-- column 5 start -->
            <ng-container matColumnDef="promoteddate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Promoted Date</mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility"> {{PromotionEligibility.promoteddate}}</mat-cell>
            </ng-container>
            <!-- column 5 end -->
            <!-- column 6 start -->
            <ng-container matColumnDef="check">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell *matCellDef="let PromotionEligibility">
                <button type="button" class="btn btn-primary btn-sm " matStepperNext>
                  Validate
                </button>
              </mat-cell>
            </ng-container>
            <!-- column 6 end -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]" showFirstLastButtons></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->
    </div>
  </div>
</div>