<section class="contetnt">
<div class="row">
  <div class="col-md-12">

    <!-- 1st Form Start -->
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Career Development Plan</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <select class="form-control" name="fullName" id="fullName">
                          <option>Jhon</option>
                          <option>Smith</option>
                          <option>Swan</option>
                        </select>
                      </div>
                    </div>
                  </div>

              
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="emp-number">Current Position</label>
                          <input type="text" class="form-control" id="current-position" placeholder="Current Position"
                            readonly>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="appointment-date">Date started</label>
                          <input type="text" class="form-control" id="start-date" placeholder="Start Date" readonly>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="PARDate">PAR Date</label>
                          <input type="text" class="form-control" id="fullName" name="fullName" placeholder="PAR Date"
                            readonly>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="PARScore">PAR Score</label>
                          <input type="text" class="form-control" id="PARScore" name="PARScore" placeholder="PAR Score"
                            readonly>
                        </div>
                      </div>
                    </div>

                    <br><br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="card">
                            <div class="card-header">
                              <h5 class="card-title xyz">Career Goals and Aspirations</h5>
                            </div>
                            <div class="card-body">
                              <li> Software Engineer</li>
                              <li> Senior Software Engineer</li>
                              <li> Best Developer of the year </li>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="card">
                            <div class="card-header">
                              <h5 class="card-title xyz">Personel Career Development Plan</h5>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-6">
                                  <label>Plans</label>
                                </div>
                                <div class="col-md-6">
                                  <label>Status</label>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <li> WSO2 Exam</li>
                                </div>
                                <div class="col-md-6">
                                  <li> Planning</li>
                                </div>

                                <div class="col-md-6">
                                  <li> Automation Exam</li>
                                </div>
                                <div class="col-md-6">
                                  <li> Processing</li>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>


                <div class="card-footer">
                
                </div>
                <!-- card body end -->
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
      <!-- card body end -->
    </div>
    <!-- 1st Form End -->
  </div>
</div>
</section>
<app-career-development-plan-form></app-career-development-plan-form>