<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Career Development Plan</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <!-- form start -->
              <form role="form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title xyz">PAR Summary</h5>
                      </div>

                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <label for="PARDate">PAR Date</label>
                          </div>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="PAR Date"
                              readonly>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                            <label for="PARScore">PAR Score</label>
                          </div>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="PARScore" name="PARScore" placeholder="PAR Score"
                              readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title xyz">HR's Career Development Plan</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Plans</label>
                          </div>
                          <div class="col-md-6">
                            <label>Status</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <li> WSO2 Exam</li>
                          </div>
                          <div class="col-md-6">
                            <li> Planning</li>
                          </div>

                          <div class="col-md-6">
                            <li> Automation Exam</li>
                          </div>
                          <div class="col-md-6">
                            <li> Processing</li>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>