<div style="height:600px">
  <h5>Welfare & Motivation </h5>
  <mat-tab-group>
    <mat-tab label="General Welfare">
        <app-general-welfare></app-general-welfare>
     
    </mat-tab>

    <mat-tab label="Individual Welfare">
      <app-indivual-welfare></app-indivual-welfare>
    </mat-tab>

    <mat-tab label="Welfare Usage History">
      <app-welfare-usage-history></app-welfare-usage-history>
    </mat-tab>

    <mat-tab label="Welfare Event">
      <app-view-welfare-event></app-view-welfare-event>
      
    </mat-tab>
  </mat-tab-group>
</div>
<app-add-general-welfare></app-add-general-welfare>
<app-edit-general-welfare></app-edit-general-welfare>
<app-allowance-form></app-allowance-form>