<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          
          <li role="presentationRe1" routerLinkActive="active">
            <a class="active" routerLink="planVecancies" aria-controls="home" role="tab" data-toggle="tab">Plan
              Vecancies</a>
          </li>
      
          <li role="presentationRe2" routerLinkActive="">
            <a routerLink="JobVecanciesTemplate" aria-controls="home" role="tab" data-toggle="tab">Job
              Vecancies Template</a>
          </li>
          <li role="presentationRe3" routerLinkActive="">
            <a routerLink="recordOfApplicantCv" aria-controls="home" role="tab" data-toggle="tab">Record
              of Applicant Cv</a>
          </li>
          <li role="presentationRe3" routerLinkActive="">
            <a routerLink="interviewSelection" aria-controls="home" role="tab" data-toggle="tab">Interview Selection</a>
          </li>
          <li role="presentationRe4" routerLinkActive="">
            <a routerLink="admin" aria-controls="home" role="tab" data-toggle="tab">Admin</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>