<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Plan Vacancies</h5>

      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->

              <form #planVacancyForm="ngForm">
                <!-- {{planVacancies.value | json}} -->
                <!-- card body start -->
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Job Title</label>
                        <!-- <select><input type="text" class="form-control" name="position" id="position" placeholder="Enter Position"> -->
                        <select class="form-control" name="jobTitle" [(ngModel)]="planVacancyObj.job.jobName">
                          <option>Admin</option>
                          <option>Manager</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="medical-leave"> Job reference number</label>
                        <input type="number" class="form-control" name="refNum" placeholder="Job reference number"
                          readonly [(ngModel)]="planVacancyObj.job.id">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name"> Hiring officer</label>
                        <input type="text" class="form-control" name="hirOfficer" placeholder="Enter Hiring officer Name"
                          [(ngModel)]="planVacancyObj.user.fullName">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Hiring Department</label>
                        <select class="form-control" name="hirDep" [(ngModel)]="planVacancyObj.department.departmentName">
                          <option>HR</option>
                          <option>Accounting</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Number of vacancies</label>
                        <input type="text" class="form-control" placeholder="Enter No of plan vacancies" name="noOfVacancies"
                          [(ngModel)]="planVacancyObj.user.fullName">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Type of recruitment </label>
                        <select class="form-control" name="typeRecuitment" [(ngModel)]="planVacancyObj.recruitment.recruitmentTypeName">
                          <option>Internal</option>
                          <option>External</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="position">Salary scale</label>
                        <input type="text" class="form-control" name="salaryScal" placeholder="Enter Salary scale"
                          [(ngModel)]="planVacancyObj.salaryScal">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="effect-date">Schedule date if any selection exam, interviews & placement</label>
                        <input type="date" class="form-control" name="scheduleDate" placeholder="yyyy-mm-dd"
                          [(ngModel)]="planVacancyObj.interviewDate">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="effect-date">Job application Opening date</label>
                        <input type="date" class="form-control" name="openDate" placeholder="yyyy-mm-dd" [(ngModel)]="planVacancyObj.vacancyOpenDate">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="effect-date">Job application End date</label>
                        <input type="date" class="form-control" name="endDate" placeholder="yyyy-mm-dd" [(ngModel)]="planVacancyObj.vacancyCloseDate">
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name"> Key requirement</label>
                      <textarea class="form-control" name="keyReq" placeholder="Enter Key requirement" [(ngModel)]="planVacancyObj.keyRecuitment"></textarea>
                    </div>
                  </div>

                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" (click)="addPlanVacancy()" data-toggle="modal" name="planVacancies"
                    data-target="#add-modal">Add</button>
                </div>
                <!-- </form> -->
                <!-- form end -->
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->
    </div>
  </div>
</div>