<div class="row">
  <div class="col-md-6">
    <div class="card">

        <div class="container mt-3">
         
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"> Add Availablity Details</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <form role="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="tranier-id"> ID</label>
            <input type="email" class="form-control" id="tranier-id" name="id" placeholder=" ID" [(ngModel)] ="AvailabilityObj.id" >
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="tranier-name"> Name of the trainer </label>
            <input type="text" class="form-control"  id="tranier-name" name="name" placeholder="Enter Trainer name" [(ngModel)] ="AvailabilityObj.trainerName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="start-date"> Start Date </label>
            <input type="date" class="form-control" id="start-date" name="start-date" placeholder="Enter start date" [(ngModel)] ="AvailabilityObj.startDate">
          </div>
        </div>
        <!-- &nbsp; &nbsp; -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="end-date"> End Date </label>
            <input type="date" class="form-control" id="end-date" name="end-date" placeholder="Enter end date" [(ngModel)] ="AvailabilityObj.endDate">
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="start-time"> Start Time</label>
              <input type="time" class="form-control" id="start-time" name="start-time" placeholder="Enter start time" [(ngModel)] ="AvailabilityObj.startTime">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="end-time"> Schedule Topic</label>
              <input type="text" class="form-control" id="schedule-topic" name="schedule-topic" placeholder="Schedule topic time" 
              [(ngModel)] ="AvailabilityObj.scheduledTopic">
            </div>
          </div>
        </div>

        
        <div class="col-md-12">
          <div class="float-right">
            <button type="submit" class="btn btn-primary" (click)="addTrainingHistory()" >Apply</button>
          </div>
        </div>
      
      
    </form>
      </div>
    
      <!-- card body end -->
  </div>
</div>
</div>



